<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="index :: common-header">
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

</head>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="index :: navbar"/>
<br>
<br>
<br>
<br>
<br>
<div class="container my-2">
    <div sec:authorize="isAuthenticated()">
        <b><span sec:authentication="name"></span></b>
        <span sec:authentication="principal.authorities">Roles</span></div>
    <h1>Transaction information details</h1>
    <table class="table table-dark">
        <thead class="thead-light">
        <tr>
            <th scope="col">Post date</th>
            <th scope="col">Operation</th>
            <th scope="col">Amount</th>
            <th scope="col">Balance</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction : ${listTransactions}">
            <td scope="row" th:text="${transaction.postDate}"></td>
            <td th:text="${transaction.description}"></td>
            <td th:text="${transaction.operationAmount}"></td>
            <td th:text="${transaction.balance}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>