<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" href="/css/main.css">
</head>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome, <b><span th:sec:authentication="name">Username</span></b></h1>
        <p class="lead">Here, you can add money to your deposit</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form th:action="@{/otherDeposit}" method="post">
                <div class="form-group">
                    <label>Please, specify card number: </label>
                    <span class="input-group-addon">Number:</span>
                    <input th:value="${cardNumber}" type="text" name="cardNumber" id="cardNumber" class="form-control"/>
                    <label>Please, specify the amount you would like to add to deposit: </label>
                    <span class="input-group-addon">Amount:</span>
                    <input th:value="${amount}" type="text" name="amount" id="amount" class="form-control"
                           aria-label="Amount (to the nearest dollar)"/>
                </div>

                <input type="hidden"
                       name="${_csrf.parameterName}"
                       value="${_csrf.token}"/>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>