<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="index :: common-header">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="index :: navbar"/>
<br>
<br>
<br>
<br>
<br>
<br>

<body class="gray-bg">

<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>

        <h4>New User Registration</h4>

        <form th:action="@{/register}" method="post" role="form">
            <div th:if="${message != null}" class="m-3">
                <p class="text-danger">[[${message}]]</p>
            </div>
            <p>
                <input type="text" name="username" id="username" class="form-control"
                       placeholder="Username" required/>
            </p>
            <p>
                <input type="email" name="email" id="email" class="form-control"
                       placeholder="Email" required/>
            </p>
            <p>
                <input type="password" name="password" id="newPassword" class="form-control"
                       placeholder="New password" required/>
            </p>
            <button type="submit"
                    class="btn btn-primary block full-width m-b">Register
            </button>

        </form>

    </div>
</div>

<!-- jQuery-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Bootstrap -->
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<!-- Bootstrap Validator plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>


</body>

</html>