<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="index :: common-header">
    <style>
        .card {
            background-color: cornflowerblue;
            border: 5px;
            border-radius: 20px;
            width: 400px;
            margin-top: 20%
        }

        .flex-column p {
            letter-spacing: 1px;
            font-size: 18px
        }
    </style>
</head>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="index :: navbar"/>
<br>
<br>
<br>
<br>
<br>
<div class="container my-2">
    <h1>Welcome, <b><span sec:authentication="name">Username </span>&nbsp;</b></h1>
    <div class="card p-3">
        <div class="card-bottom pt-3 px-3 mb-2">
            <div class="d-flex flex-row justify-content-between text-align-center">
                <div class="d-flex flex-column">
                    <h1><span>Balance amount: </span><span th:text="${Customer.balance}">...</span> <span
                            th:text="${currency}">.</span></h1>
                </div>
            </div>
        </div>
        <h3>Change Currency to dollar:</h3>
        <span th:if="${currency == 'KZT'}"><a th:href="@{/convertCurrency}">Convert</a></span>
        <span th:if="${currency == 'USD'}"><a th:href="@{/convertBack}">Convert Back</a></span>

    </div>
</div>


</body>
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</html>